rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access to all files in the catalogue folder and subfolders
    match /catalogue/{allPaths=**} {
      allow read: if true;
    }
    
    // Default rule: deny all other access
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
